/*logo宽度*/
.navbar-brand>img{
	width: 100px;
}
body{
	background: rgb(242,242,242);
}
/*导航栏设置*/
.navbar-default {
	background:rgb(26,134,192);
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
/*链接文字颜色*/
.navbar-default .navbar-nav>li>a {
	color: white;
}
/*下拉列表按钮设置*/
.navbar-default .navbar-header .navbar-toggle .icon-bar {
	background: white;
}
.navbar-default .navbar-header .navbar-toggle:hover{
	background: none;
}
.navbar-default .navbar-header .navbar-toggle:focus{
	background: none;
}
#top{
	height: 350px;
	background: rgb(26,134,192);
	text-align: center;
}
#top h2 {
	color: white;
	padding-top: 40px;
	padding-bottom: 10px;
	font-weight: 100;
	font-family: 'Open Sans',sans-serif;
}
#top img{
	width: 60%;
	margin-top: 20px;
	margin-bottom: 30px;
}
#top .form-control {
	height: 45px;
	padding: 6px 12px;
	border: 1px #73c1ea;
	font-size: 16px;
}
#top .btn{
	width: 100%;
	height: 45px;
	border: 1px solid #73c1ea;
	background: rgb(26,134,192);
	color: white;
}
#sideBar h3,.content h3 {
	font-size: 14px;
	color: black;
}
#sideBar a{
	color: #999999;
	line-height: 22.4px;
}
.content  hr {
 	border-color: #d5d5d5;
 	margin-top: -5px;
 }
.item .itemImg img{
	width: 100%;
	border-radius: 8px;
}
.item .text {
	padding-left: 0px;
}
.item .text a{
	font-size: 16px;
	color: black;
	font-weight: 600;
}
.item .text p{
	font-size: 11.2px;
	color: #959595;
}
.item .text img{
	width: 29px;
}
.item {
	margin-bottom: 20px;
}
.content .he1{
	margin-top: 60px;
}
#footer{
	text-align: center;
}
.container #h7{
	color: gray;
	padding-top: 100px;
	padding-bottom: 10px;
}
.container #tp {
	width: 100%;
	height: 150px;
	/*border-top: 1px solid #999999;*/
	/*border-bottom:  1px solid #999999;*/
	padding-top: 25px;
	padding-bottom: 10px;
}
#footer hr{
	border-color: #d5d5d5;
}
#xb {
	border-top: 1px solid #d5d5d5;
}
#xb p{
	float: left;
	color: #999999;
	margin-top: 15px;
}
#xb span{
	float: right;
	margin-top: 15px;
	color: #999999;
}
